table
{
	width: 200px;
	margin: auto;
}

table, th, td
{
	border-style: none;
}

caption
{
	font-size: 2em;
	font-weight: bold;
}

#firstLine
{
	text-align: center;
}

thead
{
	background-color: lgrey;
}

tbody
{
	font-family: Arial, sans-serif;
	font-size: .90em;
}

tbody td
{
	border-bottom: 1px #000033 dashed;
	padding-left: 25px;
}

tfoot
{
	background-color: #eaeaea;
	font-weight: bold;
	text-align: center;
}